.tow-icon{
font-size: 3rem;
transition: 0.5s;
}
.tow-icon:hover{
    transform: rotateY(180deg);

}

.section-title{
    width: 8rem;
    height: 2rem;
    background-color: rgb(118, 158, 244);
    border-radius: 2rem;
    color: white;
}
.circle{      
    width: 3rem;
    height: 3rem;
    background-color: #bdc6f54c;
    border-radius: 50%;  
    margin-top: -0.5rem;
    margin-right: -0.5rem;
    transition: all 0.3s ease-in-out;
}
.feature-box:hover .circle{
    transform: translatey(30%);

}
.g-img{
    mask-image: url(/assets/images/background/mask_img.png);
    -webkit-mask-image: url(/assets/images/background/mask_img.png);
    -webkit-mask-size: 100%;
    mask-size: 100%;  
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-positionalign-self: center;;
    mask-position: center;
    height: auto;
    width: 100%;    
    }
.red-dot{
    width: 100px;
    height: 100px;
    background-color: #f45182;
    border-radius: 50%;  
    margin-top: 5rem;
    margin-right: 4rem;
    border: 5px solid white;
    position: absolute;
    z-index: 1;
}
.red-dot-icon{
    font-size: 70px;
    color: white;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  .rotating-plus{
    font-size: 40px;
    margin-right: 8rem;
}
  .rotating-icon{
    animation: rotation 5s infinite linear;
  }
  .business-goal{
    width: 228px;
    height: 91px;
    background-color: white;
    margin-top: 22rem;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
  }
  .business-goal-icon{
    font-size: 40px;
    background-color: rgb(174, 255, 174);
    color: green;
    width: 60px;
    height: 60px;
    border-radius: 10px;

  }
  .business-goal-first-div{
    margin-right: 40px;
    
  }
  .info-section{
    margin-top: 150px;
  }
  .header-box{
    background-color: rgb(7, 101, 234);
    border-radius: 10px;
    color: white;
    position: relative;
    z-index: 1;
    margin-top: 100px;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .information-img{
    margin-top: -9rem;
    position: absolute;
    z-index: 0;
  }
  .contact-info{
    border-left: 3px solid white
    
  }
  .contact-icon{
    font-size: 50px;
  }
  .contact-btn{
    border-radius: 40px;
    border: 1px solid white;  
    transition: 0.2s;
    height: 3rem;
  }
  .contact-btn:hover{
    border-color:  #0d6efd;
  }
  .section-contact-title{
    position: relative;
  }
  .feature-box{
    border: 2px solid rgb(187, 187, 187);
    border-radius: 10px;
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }
  .feature-box:hover{
    transform: translatey(-6%);

  }
  .feature-icon{
    border-left: 2px solid rgb(188, 188, 188);
    padding-left: 10%;
  }
  .feature-content{
    margin-right: 20px;
  }
  .feature-row{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .information-section{
    background: rgb(235,239,251);
    background: radial-gradient(circle, rgba(235,239,251,1) 0%, rgba(255,255,255,1) 95%, rgba(255,255,255,1) 100%);
  }
  .team-card{
    border: none;
    border-radius: 20px;
  }
  .team-card > div > h5 > a{
    text-decoration: none; color: black
  }
  .team-card > div > p{
    color: rgb(60, 147, 253);
  }