@media only screen and (max-width: 1200px) {
  .text-work-about {
    margin-right: 300px;
  }
  .container {
    margin: 0 50px;
  }
}

/* /////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 995px) {
  .text-work-about {
    margin-right: 0px;
  }
  .about-work {
    flex-direction: column;
    justify-content: space-between;
    gap: 200px;
    padding-top: 280px;
  }
}

/* /////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 770px) {
  .text-work-about {
    margin-right: 0px;
  }
  .about-work {
    flex-direction: column;
    justify-content: space-between;
    gap: 200px;
    padding-top: 280px;
  }
  .text-background {
    text-align: center;
    right: 0px !important;
    margin: 0 20px;
  }
  .subject::before {
    right: 48%;
  }
  .background {
    background-position: left !important;
  }

  /* start menu  */
  .head-menu {
    display: none;
  }
  .nav_bar {
    visibility: visible !important;
    opacity: 1 !important;
    margin-right: 30px;
  }
  .head-search-box {
    display: none;
  }
  .top-head {
    justify-content: space-between !important;
  }
  .hamburger {
    display: block !important;
  }
  .head-right{
    margin-right: 20px;
  }
}

/* /////////////////////////////////////////////////////////////////////////////// */
@media only screen and (max-width: 600px) {
  .about-work-image {
    margin-left: 50%;
  }
  .about-work {
    gap: 300px;
  }
  .text-work-about {
    text-align: center;
    right: 0px !important;
    margin: 0 20px;
  }
  .subject-work-about::before {
    right: 48%;
  }
}

/* /////////////////////////////////////////////////////////////////////////////// */

@media only screen and (max-width: 440px) {
  .image-work {
    width: 250px;
  }
  .shape {
    width: 280px;
  }
  .about-work {
    gap: 200px;
  }
}

/* /////////////////////////////////////////////////////////////////////////////// */
