html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: var(--primary-font);
  direction: rtl;
}

*,
*::after,
*::before {
  outline: none;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: var(--dark-color);
  transition: all 400ms ease;
}

a:hover {
  color: #1e83f0;
}

i {
  user-select: none;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

.top-head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.7rem;
  height: 9rem;
  z-index: 10;
  position: sticky;
}
.logo {
  display: flex;
  align-items: center;
}
.head-right{
  width: 120px;
  display: flex;
  gap: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 100px 23px 100px 0px;
}
.logo-site{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 15px;
}

.head-left {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

.item {
  margin-left: 3rem;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
}

/* start line  */

.line {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -4px;
  background-color: rgb(35, 23, 23);
  border-radius: 60px;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
}

.item:hover .line {
  transform: scale(1);
}

/* finish line  */

.item-link {
  text-decoration: none;
  color: black;
  transition: all 400ms ease;
}

.search-box {
  border-radius: 1rem;
  padding-right: 1rem;
  padding: 0.5rem;
}

/* ///////////////////////////////////////////////////////// */
/* From Uiverse.io by garerim */
.container-search-box {
  position: relative;
}

.search-box {
  width: 150px;
  padding: 5px 10px 5px 40px;
  border-radius: 9999px;
  border: solid 1px #333;
  transition: all 0.2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-search-box svg {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.search-box:focus {
  opacity: 1;
  width: 250px;
}

.search-box::placeholder {
  font-size: 1.3rem;
}

.background {
  width: 100%;
  height: 750px;
  position: absolute;
  top: 0;
  z-index: 1;
  background: url(../assets/images/body/banner_bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.empty {
  width: 100%;
  height: 660px;
}

/* From Uiverse.io by MopokD71304 */ 
.nav_bar {
  visibility: hidden;
  opacity: 0;
  background-color: rgb(252, 247, 247);
  position: absolute;
  left: 5%;
  top: 23%;
  display: flex;
  transition: 0.4s;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 13px 13px;
  border-radius: 15px;
  cursor: pointer;
}

.bar1 {
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  width: 20px;
  margin-bottom: 3px;
  transition: 0.4s;
  height: 5px;
}

.bar2 {
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  width: 20px;
  position: absolute;
  transition: 0.4s;
  height: 5px;
}

.bar3_h {
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  width: 20px;
  transition: 0.4s;
  height: 5px;
}

.bar4 {
  border-radius: 30px;
  background-color: rgb(0, 0, 0);
  width: 20px;
  margin-top: 3px;
  transition: 0.4s;
  height: 5px;
}

.nav_bar:hover {
  border-radius: 50px;
}
.nav_bar:hover .bar3_h {
  transform: rotate(-45deg);
}
.nav_bar:hover .bar2 {
  transform: rotate(45deg);
}

.nav_bar:hover .bar1 {
  opacity: 0;
  width: 20px;
}
.nav_bar:hover .bar4 {
  opacity: 0;
  width: 20px;
}

/* finish head top  */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* start text background header  */
.subject {
  font-size: 15px;
  margin-bottom: 20px;
  color: #1e83f0;
}
.subject::before {
  content: "";
  height: 4px;
  width: 30px;
  background-color: rgb(0, 55, 255);
  position: absolute;
  top: -17px;
  border-radius: 2rem;
}
.text-background {
  max-width: 600px;
  z-index: 10;
  position: absolute;
  right: 6%;
  top: 30%;
  display: flex;
  flex-direction: column;
}
.title-background {
  font-size: 3rem;
}

.description-text {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.btn {
  margin-top: 2rem;
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 5px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 0 2px rgb(104, 112, 115);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  background-color: #1e83f0;
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: rgb(222, 21, 21);
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  left: 16px;
}

.animated-button .arr-2 {
  right: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgb(29, 100, 205);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: rgb(255, 255, 255);
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  left: -25%;
}

.animated-button:hover .arr-2 {
  right: 16px;
}

.animated-button:hover .text {
  transform: translateX(-12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px rgb(42, 41, 41);
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}
/* start text background header  */
/* ////////////////////////////////////////////////////////////////////////////////////// */
.section {
  background: url(../assets/images/background/about_bg.jpg);
  background-size: cover;
  background-position: center;
}

.about-work {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
.container {
  margin: 0 100px;
}
.about-work-image {
  position: relative;
  width: 30%;
  text-align: center;
  
}

.image-work{
  position: absolute;
  z-index: 3;
  top: -140px;
  right: 15px;
  border: 5px solid cornsilk;
  border-radius: 100%;
}

.shape{
  position: absolute;
  top: -150px;
  right: 0;
  z-index: 1;
}

.animate-dot {
  animation: up-down 8s infinite linear;
  position: absolute;
  z-index: 5;
  top: -150px;
  right: 0;
}

@keyframes up-down {
  0% {
    transform: rotateX(0deg) translateY(0px);
  }
  50% {
    transform: rotateX(0deg) translateY(-50px);
  }
  100% {
    transform: rotateX(0deg) translateY(0px);
  }
}
.subject-work-about {
  font-size: 15px;
  margin-bottom: 20px;
  color: #1e83f0;
}
.subject-work-about::before {
  content: "";
  height: 4px;
  width: 30px;
  background-color: rgb(0, 55, 255);
  position: absolute;
  top: -17px;
  /* right: 150px; */
  border-radius: 2rem;
}

.text-work-about {
  max-width: 600px;
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
}
.title-work-about {
  font-size: 3rem;
}

.description-text-work-about {
  margin-top: 2rem;
  font-size: 1.5rem;
}





/* ///////////////////////////////////////////////////////////////////////////// */
